body{
  background-color: #F8F8F8;
}

a:hover{
  color: #d21034;
}



.rutgers-red{
  background-color: #d21034;
}

.nav-link:hover{
  color: #95C8D5;
}

@media (max-width: 600px){
  #ssw{
    width: 75%;
    height: 75%;
  }
  h1.header{
    font-size: 3em;
  }
}
